:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --icon-default-color: #aaa;

  --primary-border-style: 2px solid var(--primary-color);
  --secondary-border-style: 2px solid var(--icon-default-color);
  --tertiary-border-style: 1px solid var(--primary-color);

  --primary-border-radius: 50%;

  --primary-box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.379);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(190, 255, 177, 0.388);
  margin-top: 70px;
  font-size: 19px;
}

header {
  bottom: 50px;
  position: relative;
}

.logo {
  height: 150px;
}

h1 {
  font-size: 22px;
  margin-bottom: 15%;
  color: var(--primary-color);
}

h2 {
  font-size: 20px;
}

.close-modal,
.trash-can-icon {
  color: var(--icon-default-color);
}

a,
.close-modal:hover,
.close-modal:focus,
.modal-price-div,
.trash-can-icon:hover,
input[type="submit"]:hover,
.add-bouquet-btn:hover,
.pay-btn:hover,
.get-back-btn:hover,
.get-back-btn {
  text-decoration: none;
  color: var(--primary-color);
}

.logo-div,
.nav-bar-div,
ul,
.form-btn-div,
.message-div,
.gallery,
.modal-img-div,
.modal-title-div,
.add-bouquet-btn-div {
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  height: auto;
  margin-bottom: 4%;
  box-shadow: 0px 22px 50px yellow;
  background-color: rgba(127, 255, 212, 0.35);
}

ul {
  margin: 6px 0px;
  gap: 10%;
}

li {
  list-style-type: none;
  display: flex;
}

li .active {
  font-weight: 900;
}

.nav-bar-icon {
  color: var(--primary-color);
  font-size: 70px;
}

.icon-display-none {
  display: none;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-div {
  bottom: 20px;
  position: relative;
  width: 48%;
  margin-bottom: 20px;
}

.intro-div p {
  margin: 10px 0px;
}

.footer {
  display: flex;
  margin-top: 100px;
  background-color: rgba(90, 122, 30, 0.315);
  box-shadow: 0px 7px 200px yellow;
  justify-content: space-evenly;
  font-weight: 400;
}

.footer-contact-shop-div,
.footer-shop-div,
.footer-legal-infos-div {
  padding: 20px;
}

.footer-contact-shop-div p:first-child,
.footer-shop-div p:first-child,
.footer-legal-infos-div p:first-child {
  font-weight: 900;
}

.footer-contact-shop-div {
  width: 25%;
}

.footer-telephone-div,
.footer-contact-form {
  display: flex;
  gap: 10px;
}

.brand-name {
  text-decoration: underline;
  padding-bottom: 5px;
}

/* Page d'accueil */
.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

.card {
  box-shadow: 16px 16px 11px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 140px;
}

.card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 80%;
}

.card p {
  display: flex;
  justify-content: center;
  text-wrap: wrap;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
  padding: 5px;
}

.card,
.close-modal,
input[type="submit"],
.add-bouquet-btn,
.trash-can-icon,
.pay-btn,
.get-back-btn {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px 10px 20px;
  align-content: flex-end;
  width: 290px;
  height: auto;
}

.close-modal-div {
  height: 10px;
  margin: 0px 12px 15px 0px;
}

.close-modal {
  float: right;
  font-size: 25px;
  font-weight: bold;
  height: 17px;
  display: flex;
  align-items: center;
  position: relative;
}

.modal-img {
  position: relative;
  width: 70%;
  object-fit: cover;
  max-height: 150px;
  aspect-ratio: 1/1;
  height: auto;
}

.modal-title-div {
  align-items: center;
  gap: 1%;
}

.modal-title-div h2 {
  margin: 15px 0px;
  text-align: center;
}

.modal-description-div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-description-div p {
  width: 60%;
}

.add-bouquet-btn,
input[type="submit"],
.pay-btn,
.get-back-btn,
.empty-cart-link,
.get-back-btn {
  box-shadow: var(--primary-box-shadow);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px 25px;
}

.empty-cart-link {
  display: flex;
  border: var(--secondary-border-style);
}

input[type="submit"]:hover,
.add-bouquet-btn:hover,
.pay-btn:hover,
.get-back-btn:hover,
.empty-cart-link:hover {
  background: linear-gradient(to top, rgba(0, 172, 255, 0.6), rgba(0, 253, 255, 0.5), rgb(255, 230, 0));
  color: var(--primary-color);
}

input[type="submit"]:active,
.add-bouquet-btn:active,
.pay-btn:active,
.empty-cart-link:active,
.get-back-btn:active {
  background: linear-gradient(to bottom, rgba(0, 172, 255, 0.6), rgba(0, 253, 255, 0.5), rgb(255, 230, 0));

}

.modal-divider {
  width: 70%;
  border: var(--tertiary-border-style);
  border-radius: var(--primary-border-radius);
  justify-self: center;
  margin: 8% 0px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.card,
.modal-price-div,
.shopping-item-div,
.purchase-summary-container {
  background-color: var(--secondary-color);
}

.modal-price-div {
  justify-self: center;
  align-content: center;
  border: var(--primary-border-style);
  padding: 3px;
  font-weight: 500;
}

#modal-price::after,
.bouquet-price::after,
#subTotal::after {
  content: '€';
}

/* Page Contact */
form {
  justify-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-bottom: 30px;
  width: 70%;
}

.contact-icon {
  font-size: 30px;
}

#client-name,
#client-email,
#password,
#user-name {
  height: 30px;
  width: 100%;
  padding: 0px 30px;
}

.message-div {
  align-items: center;
  flex-direction: column;
}

#client-message {
  margin-top: 0px;
  padding: 10px;
  width: 70%;
}

.form-btn-div {
  margin-top: 30px;
}

/* Page ShoppingCartPage */
.shopping-cart {
  display: flex;
  gap: 5%;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  justify-content: center;
}

.shopping-item-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--primary-box-shadow);
  padding-right: 30px;
  min-width: 450px;
  text-align-last: center;
}

.shopping-item-div img {
  width: auto;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.trash-can-icon {
  padding-right: 15px;
}

.trash-can-icon,
.shopping-item-div p {
  padding-top: 10px;
}

.purchase-summary-container {
  border: var(--primary-border-style);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: fit-content;
  gap: 17px;
}

.purchase-summary-container-divider {
  border: var(--tertiary-border-style);
  border-radius: var(--primary-border-radius);
  width: 50%;
}

.purchase-summary-container p {
  font-weight: 900;
}

.purchase-summary-txt {
  align-self: flex-start;
}

.shopping-list {
  flex-direction: column;
  gap: 20px;
}

.shopping-list-txt-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shopping-item-title {
  font-weight: 900;
  position: relative;
}

.empty-cart-message-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  align-items: center;
}

/* Page d'erreur */
.error-page-main-container {
  padding: 20px;
  padding-top: 0px;
  background-color: #fdf9fd;
  width: 250px;
  max-width: 100%;
  box-shadow: var(--primary-box-shadow);
  text-align: center;
}

.error-page-logo {
  width: 300px;
  max-width: 100%;
}

.error-page-txt-div {
  margin-top: 15%;
}

.get-back-btn {
  display: flex;
  border: var(--secondary-border-style);
  margin-top: 5%;
}

/* Ordinateurs portables */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .card-container {
    grid-template-columns: auto auto auto;
    gap: 50px;
  }

  .card {
    width: 130px;
    height: 130px;
  }

  .footer-contact-shop-div,
  .footer-shop-div,
  .footer-legal-infos-div,
  .footer-legal-infos-div i {
    font-size: 15px;
  }

  /* page contact */
  form {
    justify-items: center;
  }

  .form-input {
    width: 60%;
  }

  .contact-icon {
    font-size: 25px;
  }

  #client-name,
  #client-email,
  #password,
  #user-name,
  #client-message {
    height: 25px;
    font-size: 15px;
  }

  #client-message {
    width: 60%;
    height: 90px;
  }

  /* Page ShoppingCartPage */
  .shopping-item-div {
    min-width: 320px;
  }

  .shopping-item-div img {
    height: 80px;
  }

  .shopping-item-div p {
    padding-top: 5px;
  }

  .trash-can-icon {
    padding: 0px;
  }

  .purchase-summary-container {
    width: auto;
  }
}

/* Tablettes */
@media screen and (max-width: 768px) {
  body {
    margin: auto 0;
    font-size: 15px;
  }

  header {
    bottom: 0px;
  }

  .logo {
    margin: 20px 0px 40px 0px;
  }

  h1 {
    font-size: 16px;
    margin-top: 5%;
  }

  .footer-contact-shop-div,
  .footer-shop-div,
  .footer-legal-infos-div,
  .footer-legal-infos-div i {
    padding: 10px;
    font-size: 13px;
  }

  .card-container {
    gap: 25px;
  }

  .card {
    width: 110px;
    height: 110px;
  }

  .card img {
    height: 66%;
  }

  .card p {
    padding: 0px 5px;
  }

  /* Page ShoppingCartPage */
  .shopping-cart {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .shopping-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 50px;
  }

  .shopping-item-div {
    min-width: 145px;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
  }

  .shopping-item-div img {
    height: 60px;
    border-radius: var(--primary-border-radius);
  }

  .trash-can-icon {
    padding: 10px 0px;
  }

  .shopping-list-txt-content {
    margin: 10px 0px;
  }

  .purchase-summary-container {
    padding: 10px;
  }

  .pay-btn {
    font-size: 15px;
    width: 125px;
  }
}

/* Mobiles (grands) */
@media screen and (max-width: 425px) {

  body {
    padding-bottom: 55px;
    font-size: 19px;
  }

  li {
    width: auto;
  }

  .error-page-txt-div,
  .get-back-btn {
    margin-top: 2%;
  }

  .logo {
    margin-bottom: 0px;
  }

  a p {
    display: none;
  }

  .router-div {
    margin-bottom: 25px;
  }

  .title-div {
    margin: 30px 0px 10px 0px;
  }

  h1 {
    font-size: 20px;
  }

  .intro-div {
    width: 80%;
  }

  .gallery {
    width: 60%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .card {
    width: inherit;
    height: 230px;
  }

  .card img {
    height: 88%;
  }

  .card p {
    font-size: 19px;
  }

  .nav-bar-div,
  nav {
    background-color: var(--secondary-color);
    box-shadow: 0px 22px 50px var(--primary-color);
  }

  .nav-bar-div {
    position: fixed;
    bottom: 0;
    max-width: 425px;
    width: 100%;
    z-index: 1000;
  }

  nav {
    margin: 0px;
    height: 50px;
    align-content: center;
  }

  ul {
    align-items: center;
  }

  .icon-display-none {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
  }

  /* Page ShoppingCartPage */
  .shopping-list {
    flex-direction: column;
  }

  .shopping-item-div {
    min-width: 350px;
    height: 85px;
    border-radius: var(--primary-border-radius);
    width: inherit;
    flex-direction: row;
    padding: 0px 25px;
  }

  .pay-btn {
    width: 158px;
  }

  .footer {
    display: none;
  }
}

/* Mobiles (moyens) */
@media only screen and (max-width: 375px) {

  .card {
    height: 190px;
  }

  /* Page ShoppingCartPage */
  .empty-cart-link {
    padding: 5px;
    width: 100%;
  }

  .shopping-item-div {
    min-width: 300px;
  }
}

/* Mobiles (petits) */
@media only screen and (max-width: 320px) {

  #client-name,
  #client-email,
  #password,
  #user-name,
  #client-message {
    padding: 10px;
  }
}