/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */


/* //TODO vérifier tout le css */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(190, 255, 177, 0.388);
  margin-top: 70px;
}

header {
  bottom: 50px;
  position: relative;
}

.logo {
  height: 150px;
}

h1 {
  font-size: 22px;
  margin-bottom: 15%;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.logo-div,
.nav-bar-div,
ul,
.form-btn-div,
.message-div,
.gallery,
.modal-img-div,
.modal-title-div,
.add-bouquet-btn-div {
  display: flex;
  justify-content: center;
}

nav {
  width: 61%;
  height: auto;
  margin-bottom: 4%;
  box-shadow: 0px 22px 50px yellow;
  background-color: rgba(127, 255, 212, 0.35);
}

ul {
  margin: 6px 0px;
  gap: 10%;
}

li {
  list-style-type: none;
}

.nav-bar-icon {
  color: black;
  font-size: 70px;
}

.icon-display-none {
  display: none;
}

a p {
  font-size: 20px;
  color: black;
}

.active {
  p {
    font-weight: 900;
    font-size: 19px;
  }
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-div {
  width: 60%;
  padding: 0px 25px;
  bottom: 20px;
  position: relative;

  p {
    margin: 10px 0px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background-color: rgba(90, 122, 30, 0.315);
  padding: 0px 50px;
  box-shadow: 0px 7px 200px yellow;
}

.footer div {
  font-size: 20px;
}

.footer-contact-shop-div,
.footer-shop-div,
.footer-legal-infos-div {
  padding: 25px;
}

.footer-contact-shop-div {
  width: 25%;
}

.footer-telephone-div,
.footer-contact-form {
  display: flex;
  gap: 10px;
}

.footer-title {
  font-weight: 900;
  font-size: 22px;
}

.brand-name {
  text-decoration: underline;
  padding-bottom: 5px;
  font-size: 21px;
}

.footer-contact-form a {
  color: black;
}

/* Page d'accueil */

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 35px;
}

.card {
  border: 1px solid black;
  justify-items: center;
  width: 100%;
  box-shadow: 16px 16px 11px rgba(0, 0, 0, 0.5);
  max-width: 150px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.card-title {
  display: flex;
  justify-content: center;
  text-wrap: wrap;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
}

.gallery-img,
.close-modal,
input[type="submit"] {
  cursor: pointer;
}

.gallery-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 90px;
  width: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 10px 0px 20px;
  align-content: flex-end;
  width: 290px;
  height: auto;
}

.close-modal-div {
  height: 10px;
  margin: 0px 12px 15px 0px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  height: 17px;
  display: flex;
  align-items: center;
  position: relative;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
}

.modal-img {
  position: relative;
  width: 70%;
  object-fit: cover;
  max-height: 150px;
  aspect-ratio: 1/1;
  height: auto;
}

.modal-title-div {
  align-items: center;
  gap: 1%;
}

.modal-title {
  margin: 15px 0px;
  text-align: center;
  font-size: 18px;
}

.modal-description-div {
  display: flex;
  text-align: center;
  justify-content: center;

  p {
    width: 60%;
  }
}

.add-bouquet-btn,
input[type="submit"],
.pay-btn {
  height: 35px;
  box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.379);
  font-weight: 900;
  margin-top: 15%;
  width: 100%;
  background-color: white;
  border: 2px solid black;
}

.add-bouquet-btn,
.pay-btn {
  width: 165px;
  margin: 0px;
  font-weight: 400;
  padding: 0 10px;
  background-color: black;
  color: white;
}

input[type="submit"]:hover,
.add-bouquet-btn:hover,
.pay-btn:hover {
  background: -webkit-linear-gradient(top, rgb(0 172 255 / 60%), rgb(0 253 255/ 50%), rgb(255, 230, 0));
  border-color: white;
  color: black;
}

input[type="submit"]:active,
.add-bouquet-btn:active,
.pay-btn:active {
  background: -webkit-linear-gradient(bottom, rgb(0 172 255 / 60%), rgb(0 253 255/ 50%), rgb(255, 230, 0));
}

.modal-divider {
  width: 70%;
  border: 1px solid black;
  border-radius: 50px;
  justify-self: center;
  margin: 8% 0px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.modal-price-div {
  height: 35px;
  justify-self: center;
  align-content: center;
  border: 2px solid black;
  padding: 0 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

/* Page Contact */

.form-input {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-bottom: 30px;
}

.contact-icon {
  font-size: 30px;
}

#client-name,
#client-email,
#password,
#user-name {
  height: 30px;
  width: 100%;
  padding: 0px 30px;

}

.message-div {
  align-items: center;
  flex-direction: column;
  color: red;
}

#client-message {
  margin-top: 0px;
  padding: 10px;
}

.form-btn-div {
  height: 50px;
  margin-top: 30px;
}

input[type="submit"] {
  padding: 0px 20px;
}

/* Page savedBouquets */

.shopping-cart {
  display: flex;
  gap: 77px;
  margin-top: 30px;
}

.AAA {
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.379);
  padding-right: 30px;
  min-width: 500px;
  text-align-last: center;
  
  .trash-can-icon,
  p {
    padding-top: 15px;
  }

  .trash-can-icon {
    padding-right: 15px;
  }
}

.KKK {
  border: 2px solid black;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: fit-content;
  gap: 17px;
}

.KKK-title {
  font-weight: 900;
}

.KKK-divider {
  border: 1px solid black;
  border-radius: 50px;
  width: 50%;
  justify-self: center;
}

.KKK p{
  font-weight: 900;
}

.HHH{
  align-self: flex-start;
}
.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.saved-bouquet-img {
  width: auto;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.shopping-list-txt-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shopping-item-title {
  font-weight: 900;
  position: relative;
}